.ui.input {

    input {
        background-color: #f6f5f5 !important;
        border-color: #f6f5f5 !important;
        border-radius: 4px !important;

        &:focus {
            background-color: white !important;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
            webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
            mod-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) !important;
        }
    }

}